mixin ctrl-arrow(dir, extraClass)
  if dir == 'left'
    .ctrl-arrow(class=`${extraClass}__arrow ${extraClass}__arrow--${dir}`)
      svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6.7 13.3").ctrl-arrow__icon.ctrl-arrow__icon--left
        path(d="M6.4 6L1.4.3C1.1-.1.6-.1.2.3c-.3.4-.3 1 0 1.3l4.4 5.1-4.4 5.1c-.3.4-.3 1 0 1.3.3.4.8.4 1.2 0l5-5.7c.2-.2.2-.4.2-.7.1-.3 0-.5-.2-.7z")
  if dir == 'right'
    .ctrl-arrow(class=`${extraClass}__arrow ${extraClass}__arrow--${dir}`)
      svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6.7 13.3").ctrl-arrow__icon.ctrl-arrow__icon--right
        path(d="M6.4 6L1.4.3C1.1-.1.6-.1.2.3c-.3.4-.3 1 0 1.3l4.4 5.1-4.4 5.1c-.3.4-.3 1 0 1.3.3.4.8.4 1.2 0l5-5.7c.2-.2.2-.4.2-.7.1-.3 0-.5-.2-.7z")